.projects-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-color: brown;
}

.content {
    width: 90%;
    margin: 70px auto;
    display: grid;
    gap: 50px;
}

.content-proj {
    box-shadow: rgba(71, 71, 71, 0.2) 0px 2px 8px 0px;
    position: relative;
}

.content-proj-img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.content-proj-name {
    padding-left: 20px;
    padding-top: 33px;
    font-size:20px
}

.content-proj-time {
    padding-left: 20px;
    font-size: 18px;
    color: rgb(7, 200, 7);
    letter-spacing: 1px;
    padding-bottom: 35px;
}

.content-proj:hover .content-proj-img {
    opacity: 0.1;
}

.plus-icon {
    position: absolute;
    top: 33%;
    left: 47%;
    width: 10%;
    display: none;
    transition: 0.2s;
}

.content-proj:hover .plus-icon {
    display: block;
    opacity: 1;
}